<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <link rel="shortcut icon" href="/Img/icono.ico"/>
    <title>User Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    
<style>
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}
h1{
	text-color:purple;
	font-family:century gothic;
	font-size:20px; 
}
img{
	position:relative;
	left:25px;
	font-size:25px;
}
.jumbotron{
	background-color:white;
	font-size:40px
}
.btn-primary
{
	color:  Black;
	background-color: purple;
}
</style>
</head>
<h1><img src="/Img/LogoSysAlta.png" height="15%" width="15%"/></h1>
<body>
<div class="jumbotron">
	<div class="container">
  		<h1>Permisos Insuficientes!</h1>
  		<p>Usted no puede tener acceso a esta página debido a que usted no es administrador</p>
  		<p><a class="btn btn-primary btn-lg" href="http://consultas-micro-service.192.168.42.195.nip.io/login" role="button">Regresar</a></p>
	</div>
</div>
</body>
</html>